<div class="col-xs-1"></div>
<div class="container-fluid col-xs-11 profile-div-spacing">
	<h1 ng-cloak>Profile of {{vm.user.username}}</h1>
	<div class="container-fluid background-gray">
		<h2>Profile Informations</h2>
		<div ng-cloak>
			<div class="profile-div-spacing">
				<div class="col-xs-1">
					<b class="profile-spacing">First Name:</b>
				</div>
				<div class="col-xs-11">{{vm.user.firstName}}</div>
			</div>
			<div class="clearfix"></div>
			<div class="profile-div-spacing">
				<div class="col-xs-1">
					<b class="profile-spacing">Last Name:</b>
				</div>
				<div class="col-xs-11">{{vm.user.lastName}}</div>
			</div>
			<div class="clearfix"></div>
			<div class="profile-div-spacing">
				<div class="col-xs-1">
					<b class="profile-spacing">Role:</b>
				</div>
				<div class="col-xs-11">{{vm.user.role.substring(5).toLowerCase()}}</div>
			</div>
			<div class="clearfix"></div>
			<div class="profile-div-spacing">
				<div class="col-xs-1">
					<b class="profile-spacing">Registered:</b>
				</div>
				<div class="col-xs-11">{{vm.user.registerDate}}</div>
			</div>
			<div class="clearfix"></div>
			<div ng-if="vm.userRole.valueOf() === 'ROLE_CUSTOMER'.valueOf()" class="profile-div-spacing">
				<div class="col-xs-1">
				<b class="profile-spacing">Delivery Address:</b>
				</div>
				<div class="col-xs-11">{{vm.profile.deliveryAddress}}</div>
			</div>
			<div class="clearfix"></div>
			<div ng-if="vm.userRole.valueOf() === 'ROLE_CUSTOMER'.valueOf()" class="profile-div-spacing">
				<div class="col-xs-1">
				<b class="profile-spacing">Reward Points:</b>
				</div>
				<div class="col-xs-11">{{vm.profile.rewardPoints}}</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div ng-if="vm.userRole.valueOf() === 'ROLE_CUSTOMER'.valueOf()" class="container-fluid profile-div-spacing">
		<h2>Category Informations</h2>
		<div ng-cloak>
			<div class="profile-div-spacing">
				<div class="col-xs-1">
				<b class="profile-spacing">Name:</b>
				</div>
				<div class="col-xs-11">{{vm.profile.customerCategoryDTO.name}}</div>
			</div>
			<div class="clearfix"></div>
			<div class="profile-div-spacing">
				<div class="profile-div-spacing">
					<h4>Consumption Thresholds</h4>
				</div>
				<div ng-repeat="threshold in vm.profile.customerCategoryDTO.consumptionThresholds" class="profile-div-spacing">
					<div class="col-xs-4"><b class="profile-spacing">Cost From:</b><span>{{threshold.priceFrom}}</span></div>
					<div class="col-xs-4"><b class="profile-spacing">Cost To:</b><span>{{threshold.priceTo}}</span></div>
					<div class="col-xs-4"><b class="profile-spacing">Reward Points Percentage:</b><span>{{threshold.rewardPointsPercentage}}%</span></div>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="vm.userRole.valueOf() === 'ROLE_CUSTOMER'.valueOf()" class="container-fluid profile-div-spacing background-gray bottom-margin-tree-percentage">
		<div ui-view="shoppingsView"></div>
	</div>
</div>