<div class="modal-header">
	<h3 class="modal-title">Bill Informations</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
			<h3>Bill code: {{vm.bill.billCode}}</h3>
			<div class="container-fluid" ng-repeat="item in vm.bill.billItemsDTO | orderBy: 'itemNumber'">
				<h4>Item No. {{item.itemNumber}}</h4>
				<div class="container-fluid">
					<h4>Article:</h4>
					<div class="container-fluid">
						<div class="row profile-div-spacing">
							<div class="col-xs-4"><b class="profile-spacing">Article Name:</b><span>{{item.articleDTO.name}}</span></div>
							<div class="col-xs-4"><b class="profile-spacing">Article Code:</b><span>{{item.articleDTO.articleCode}}</span></div>
							<div class="col-xs-4"><b class="profile-spacing">Category Name:</b><span>{{item.articleDTO.articleCategoryName}}</span></div>
						</div>
						<div class="row profile-div-spacing">
							<div class="col-xs-4"><b class="profile-spacing">Quantity Bought:</b><span>{{item.count}}</span></div>
							<div class="col-xs-4"><b class="profile-spacing">Bought Article Price:</b><span>{{item.price}}</span></div>
							<div class="col-xs-4"><b class="profile-spacing">Quantity In Store:</b><span>{{item.articleDTO.articleCount}}</span></div>
						</div>
					</div>
					<h4>Item Discounts:</h4>
					<div class="container-fluid profile-div-spacing">
						<div ng-if="item.itemDiscountsDTO.length === 0">Bought without any discount</div>
						<div class="row" ng-repeat="itemDiscount in item.itemDiscountsDTO">
							<div class="col-xs-4"><b class="profile-spacing">Item Discount Code:</b><span>{{itemDiscount.billItemDiscountCode.slice(-10)}}</span></div>
							<div class="col-xs-4"><b class="profile-spacing">Discount Percentage:</b><span>{{itemDiscount.discountPercentage}}%</span></div>
							<div class="col-xs-4">
								<b class="profile-spacing">Discount Type:</b>
								<span ng-if="!itemDiscount.discountType">Basic</span>
								<span ng-if="itemDiscount.discountType">Additional</span>
							</div>
						</div>
					</div>
					<h4>Item price:</h4>
					<div class="row container-fluid profile-div-spacing">
						<div class="col-xs-4"><b class="profile-spacing">Total Original Price:</b><span>{{item.totalOriginalPrice}}</span></div>
						<div class="col-xs-8"><b class="profile-spacing">Total Discount Price:</b><span>{{item.totalDiscountPrice}}</span></div>
					</div>
				</div>
			</div>
			<h4>Bill Discounts:</h4>
			<div ng-if="vm.bill.billDiscountsDTO.length === 0">No discounts</div>
			<div ng-repeat="billDiscount in vm.bill.billDiscountsDTO">
				<div class="col-xs-4"><b class="profile-spacing">Bill Discount Code:</b><span>{{billDiscount.billDiscountCode.slice(-10)}}</span></div>
				<div class="col-xs-4"><b class="profile-spacing">Discount Percentage:</b><span>{{billDiscount.discountPercentage}}%</span></div>
				<div class="col-xs-4">
					<b class="profile-spacing">Discount Type:</b>
					<span ng-if="!billDiscount.discountType">Basic</span>
					<span ng-if="billDiscount.discountType">Additional</span>
				</div>
			</div>
			<h4 class="total-bill">Total Bill:</h4>
			<div class="container-fluid bottom-margin-tree-percentage">
				<div class="row profile-div-spacing">
					<div class="col-xs-4"><b class="profile-spacing">Original Cost:</b><span>{{vm.bill.originalCost}}</span></div>
					<div class="col-xs-4"><b class="profile-spacing">Discount:</b><span>{{vm.bill.discountPercentage}}%</span></div>
					<div class="col-xs-4"><b class="profile-spacing">Final Cost:</b><span>{{vm.bill.finalCost}}</span></div>
				</div>
				<div class="row profile-div-spacing">
					<div class="col-xs-4"><b class="profile-spacing">Reward Points Spent:</b><span>{{vm.bill.rewardPointsSpent}}</span></div>
					<div class="col-xs-8"><b class="profile-spacing">Reward Points Gained:</b><span>{{vm.bill.rewardPointsGained}}</span></div>
				</div>
				<div class="row profile-div-spacing">
					<div class="col-xs-4"><b class="profile-spacing">Date Created:</b><span>{{vm.bill.created}}</span></div>
					<div class="col-xs-8">
						<b class="profile-spacing">Bill Status:</b>
						<span ng-if="vm.bill.status === -1">Denied</span>
						<span ng-if="vm.bill.status === 0">Ordered</span>
						<span ng-if="vm.bill.status === 1">Successfully Bought</span>
					</div>
				</div>
			</div>
		</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="vm.okay()">OK</button>
</div>